main .container {
  width: 100%;
  padding: 1rem;
}

.collection-item .row {
  margin-bottom: 0;
}

code.hljs {
  font-size: 0.9rem;
}

#header .brand-logo {
  margin-left: .5rem;
}

#header .main-menu {
  margin-left: 10rem;
}